* {
  font-family: 'IBM Plex Sans';
  /* font-family: 'Open Sans', sans-serif; */
}

.page__catalog {
  margin-top: 32px;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 324px);
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.catalog__item {
  width: 324px;
}

.card__image {
  /* border-radius: 2%; */
  border: solid;
  border-width: 3px;
  border-color: blue;
  cursor: pointer;
  width: 100%;
  height: 216px;
  object-fit: cover;
  object-position: center;

}

.card__image:hover {
  /* opacity: .9; */
  /* background-color: #2546bc; */
  border-bottom-width: 3px;
  border-bottom-color: crimson;
}

.card__description {
  padding: 12px 0px;
  box-sizing: border-box;
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.card__url {
  /* font-size: 14px;
  color: #0C0C0D;
  margin: 8px 0 0;
  opacity: 0.4; */
  /* display: block;
  color: #94949E;
  font-size: 14px;
  line-height: 1.4; */
  display: block;
  color: #3C39EC;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 8px;
  
}

.card__info {
  font-size: 14px;
  color: #0C0C0D;
  margin: 8px 0 0;
  opacity: 0.4;
  
}

.card__info{display: inline;}

.bottom {
  position:relative;
  bottom: -3px; 
  left: 0px;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 96px;
}

.header__logo {
  margin-right: 8px;
  width: 32px;
}

.header__title {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}
